.infoIntroductionBlock{
    display: flex;
    width: 50%;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: relative;
}
.infoIntroductionBlock::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: var(--mainWhite);
}
.infoIntroductionBlock__title{
    position: relative;
    margin-bottom: 10px;
}
.infoIntroductionBlock__title::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 345px;
    height: 200px;

    background-color: rgba(68,68,68,0.8);
    z-index: 1;
}
.infoIntroductionBlock__title>h2{
    pointer-events: none;
    color: var(--mainWhite);
    font-size: 50px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}
.infoIntroductionBlock__position{
    position: relative;
}
.infoIntroductionBlock__position::before{
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 98px;
    background-color: rgba(255,164,5,0.8);
    z-index: 1;
}
.infoIntroductionBlock__position>h3{
    pointer-events: none;
    color: #676767;
    font-size: 40px;
    position: relative;
    z-index: 4;
}

@media all and (max-width: 768px) {

    .infoIntroductionBlock {
        width: 100%;
    }
    .infoIntroductionBlock__title>h2{
        background: url("../../../../assets/img/introduction-block/banner-bg.jpg");
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: -284px 104px;
    }
    .infoIntroductionBlock__title>h2 {
        font-size: 60px;
        text-transform: uppercase;
    }
}
@media (max-width: 400px) {

    .infoIntroductionBlock__title>h2 {
        font-size: 50px;
    }
    .infoIntroductionBlock__title::before {
        width: 280px;
        height: 169px;
    }
    .infoIntroductionBlock__position::before {
        width: 249px;
        height: 77px;
    }
    .infoIntroductionBlock__position>h3 {
        font-size: 30px;
    }
}