.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--mainBlack);
    display: flex;
    justify-content: center;
    z-index: 100;
}
.headerInner {
    display: flex;
    justify-content: space-between;
}
.contactsBlockHeader{
    display: flex;
    align-items: center;
}
